<div class="jumbotron">
    <h1>Motolog</h1>
    <p class="lead">
        Your essential vehicle helper tool
    </p>
    <p><a class="btn btn-lg btn-success" ng-hide="isAuthenticated()" ng-click="googleLogin()">Login with Google</span></a>
    </p>
</div>

<div class="row marketing">
    <h4><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Log maintenance</h4>
    <p>
        Never forget the last time you did an oil change
    </p>

    <h4><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Mileage tracking</h4>
    <p>
        Get stats on how fuel efficient your vehicle is
    </p>

    <h4><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Share</h4>
    <p>
        Show off or give prospective buyers confidence
    </p>
</div>